#img-bg {
    background-image: url(https://i.imgur.com/jfmPprg.jpg);

    min-height: 840px;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    
    font-size: x-large;  
}
