#img-bg {
    background-image: url(https://i.imgur.com/ZZ6Fdtz.jpg);

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    
    font-size: x-large;  
}
